<p>Tämä on testiaikainen kotisivu, jossa on simuloitua dataa</p>
<h1>Sähkö on nyt kallista</h1>
<h1 class="expensive">{{price}}c/kWh</h1>
<h2>Tuuli {{wind}}</h2>
<h2>Lämpötila {{temperature}}</h2>

<a class="button" href="/hourly">
        Katso 24h hinnat
</a>
