<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
  .my-svg {
    background-image: url('images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100vw - 15px);
    height: 100vh;

  }
  #my-main {
    z-index: 1;
    position: relative;
    
  }
</style>
</head>
<body>
    <div id="my-main" class=" w-[98.5vw] h-[100vh] -mt-20 bg-[url('/images/background.svg')] bg-no-repeat bg-cover">
        <div>
            
        </div>
    </div>
</body>
</html>