
<div class="background-gradient" style="align-content: center;">
    <div class="navbar">
        <div class="navbar-logo">
            SmartHome
        </div>
        <div class="navbar-pages">
            <a href="/test-homepage">Home</a>
            <a href="/hourly">Spot prices</a>
            <a href="/">Weather forecast</a>
            
            <a href="/settings" style="margin-left: 20px; margin-right: 0px;">
                <div class="settings-button"></div>
            </a>
            <a href="#" style="margin-left: 10px; margin-right: 0px;">
                <div class="theme-button"></div>
            </a>
        </div>
    </div>
    <div class="main-content1">
        <div class="main-content1-left">
            <div class="main-content1-left-title">
                Welcome to <span style="color: white">SmartHome</span><br/>
                - Your Energy and <br /> Weather Companion
            </div>
            <div class="main-content1-left-bottom">
                <div class="main-content1-left-bottom-description">
                    Stay informed with real-time energy prices and accurate weather forecasts
                </div>
                <div class="main-content1-left-bottom-description-cta">
                    <a href="/hourly">Check prices</a>
                </div>
            </div>
        </div>
        <div class="main-content1-right">
            <img class="main-content1-right-turbine" src="/images/windturbine.png">
            <img class="main-content1-right-phone1" src="/images/phone-mockup1.png" />
            <img class="main-content1-right-phone2" src="/images/phone-mockup2.png" />
        </div>
    </div>
    <div class="main-content2">
        <div class="main-content2-title">
            See <span style="background: -webkit-linear-gradient(90deg, rgba(255,168,0,1) 0%, rgba(255,76,0,1) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; ">Real-Time</span> Energy <br/> Prices
        </div>
        <img class="main-content2-ball" src="/images/ball-orange.png"/>
    </div>
</div>

<script>
</script>