<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js" integrity="sha512-r22gChDnGvBylk90+2e/ycr3RVrDi8DIOkIGNhJlKfuyQM4tIRAI062MaV8sfjQKYVGjOBaZBOA87z+IhZE9DA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <!-- main container -->
    <div class="bg-[#EAF0FD] flex w-full h-min-h-screen">

        <!-- main content -->
        <div class="w-full h-full px-1 sm:px-12 xl:px-14 2xl:px-36 lg:py-4 md:py-2">

            <!-- top content -->
            <div class="w-full flex justify-end">
                
                <h1 id="clock" class="text-[#19283F] text-bold text-xl flex items-center justify-end mr-2 sm:mr-none">
                </h1>
            </div>
            
            <div class="flex">
                <h1 class="font-semibold text-[24px]">Next 5 Days</h1>
                <div class="ml-24">
                    <div class="relative inline-flex w-56">
                        <select class="rounded-md shadow-md px-3 py-2 w-full cursor-pointer border border-1" id="timePeriod">
                            <option value="Espoo">Espoo</option>
                            <option value="Helsinki">Helsinki</option>
                            <option value="Jyväskylä">Jyväskylä</option>
                            <option value="Kuopio">Kuopio</option>
                            <option value="Oulu">Oulu</option>
                            <option value="Tampere">Tampere</option>
                            <option value="Turku">Turku</option>
                            <option value="Vantaa">Vantaa</option>
                        </select>
                    </div>
                </div>
            </div>
                
            <!-- middle content -->
            <div class="flex flex-col pt-6 mb-6 pb-6 sm:pb-none overflow-x-auto scrolling-touch sm:overflow-x-none sm:scrolling-touch-none">

                <!-- Days -->
                <div class="flex items-center">
                    <!-- Today -->
                    <div class="bg-[#B5D0FF] px-10 py-8 2xl:px-12 2xl:py-12 rounded-3xl shadow-md mr-6 flex-none hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300">
                        <h1 class="font-semibold pb-4 text-lg">Now, Tuesday</h1>

                        <div class="pb-12">
                            <div class="flex items-center justify-between">
                                <h1 class="font-semibold text-[34px] pr-24">-13°C</h1>
                                <img src="/icons/weather/cloudy.png" alt="">
                            </div>

                            <h1>Cloudy</h1>
                        </div>

                        <!-- Wind Speed -->
                        <div class="flex justify-between">
                            <h1>Wind</h1>
                            <h1 class="font-semibold">13 m/s</h1>
                        </div>

                        <!-- Wind Direction -->
                        <div class="flex justify-between">
                            <h1>Wind Direction</h1>
                            <h1 class="font-semibold">NE</h1>
                        </div>

                        <!-- Humidity -->
                        <div class="flex justify-between">
                            <h1>Humidity</h1>
                            <h1 class="font-semibold">13%</h1>
                        </div>
                    </div>

                    <!-- Days -->
                    <div id="scroll-container" class="flex sm:overflow-x-auto sm:scrolling-touch sm:pb-6 sm:pt-6">
                        <div class="bg-white px-8 py-4 mr-3 2xl:px-12 2xl:py-8 rounded-3xl shadow-md flex-none hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 2xl:w-[550px]">
                            <h1 class="font-semibold pb-2 text-lg">Wednesday</h1>

                            <div class="pb-3">
                                <div class="flex items-center justify-between">
                                    <h1 class="font-semibold text-[34px] pr-44">-13°C - 14°C</h1>
                                    <img src="/icons/weather/cloudy.png" alt="">
                                </div>
                                <h1>min - max</h1>
                                <h1>Cloudy</h1>
                            </div>

                            <!-- Wind Speed -->
                            <div class="flex justify-between">
                                <h1>Wind</h1>
                                <h1 class="font-semibold">13 m/s</h1>
                            </div>

                            <!-- Wind Direction -->
                            <div class="flex justify-between">
                                <h1>Wind Direction</h1>
                                <h1 class="font-semibold">NE</h1>
                            </div>

                            <!-- Humidity -->
                            <div class="flex justify-between">
                                <h1>Humidity</h1>
                                <h1 class="font-semibold">13%</h1>
                            </div>
                        </div>

                        <div class="bg-white px-8 py-4 mr-3 2xl:px-12 2xl:py-8 rounded-3xl shadow-md flex-none hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 2xl:w-[550px]">
                            <h1 class="font-semibold pb-2 text-lg">Wednesday</h1>

                            <div class="pb-3">
                                <div class="flex items-center justify-between">
                                    <h1 class="font-semibold text-[34px] pr-44">-13°C - 14°C</h1>
                                    <img src="/icons/weather/cloudy.png" alt="">
                                </div>
                                <h1>min - max</h1>
                                <h1>Cloudy</h1>
                            </div>

                            <!-- Wind Speed -->
                            <div class="flex justify-between">
                                <h1>Wind</h1>
                                <h1 class="font-semibold">13 m/s</h1>
                            </div>

                            <!-- Wind Direction -->
                            <div class="flex justify-between">
                                <h1>Wind Direction</h1>
                                <h1 class="font-semibold">NE</h1>
                            </div>

                            <!-- Humidity -->
                            <div class="flex justify-between">
                                <h1>Humidity</h1>
                                <h1 class="font-semibold">13%</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- bottom content -->
            <div class="md:flex items-start">
                <!-- Today Full Hourly Table -->
                <div class="bg-[#B5D0FF] px-10 py-8 rounded-3xl shadow-md sm:mr-6 hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 w-[315px]">
                    
                    <h1 class="font-semibold pb-4 text-lg">Today Hourly</h1>

                    <div class="">
                        <table class="table-auto">
                            <tr class="border-b border-gray-400">
                                <td class="pr-6">01:00</td>
                                <td class="pr-6"><img src="/icons/weather/cloudy.png" alt=""></td>
                                <td class="pr-6">-11°C</td>
                                <td>12m/s</td>
                            </tr>
                            <tr class="border-b border-gray-400">
                                <td class="pr-6">01:00</td>
                                <td class="pr-6"><img src="/icons/weather/cloudy.png" alt=""></td>
                                <td class="pr-6">-11°C</td>
                                <td>12m/s</td>
                            </tr>
                            <tr class="border-b border-gray-400">
                                <td class="pr-6">01:00</td>
                                <td class="pr-6"><img src="/icons/weather/cloudy.png" alt=""></td>
                                <td class="pr-6">-11°C</td>
                                <td>12m/s</td>
                            </tr>
                            <tr class="border-b border-gray-400">
                                <td class="pr-6">01:00</td>
                                <td class="pr-6"><img src="/icons/weather/cloudy.png" alt=""></td>
                                <td class="pr-6">-11°C</td>
                                <td>12m/s</td>
                            </tr>
                            <tr class="border-b border-gray-400">
                                <td class="pr-6">01:00</td>
                                <td class="pr-6"><img src="/icons/weather/cloudy.png" alt=""></td>
                                <td class="pr-6">-11°C</td>
                                <td>12m/s</td>
                            </tr>
                            <tr class="border-b border-gray-400">
                                <td class="pr-6">01:00</td>
                                <td class="pr-6"><img src="/icons/weather/cloudy.png" alt=""></td>
                                <td class="pr-6">-11°C</td>
                                <td>12m/s</td>
                            </tr>
                            <tr class="border-b border-gray-400">
                                <td class="pr-6">01:00</td>
                                <td class="pr-6"><img src="/icons/weather/cloudy.png" alt=""></td>
                                <td class="pr-6">-11°C</td>
                                <td>12m/s</td>
                            </tr>
                            <tr class="border-b border-gray-400">
                                <td class="pr-6">01:00</td>
                                <td class="pr-6"><img src="/icons/weather/cloudy.png" alt=""></td>
                                <td class="pr-6">-11°C</td>
                                <td>12m/s</td>
                            </tr>
                            <tr class="border-b border-gray-400">
                                <td class="pr-6">01:00</td>
                                <td class="pr-6"><img src="/icons/weather/cloudy.png" alt=""></td>
                                <td class="pr-6">-11°C</td>
                                <td>12m/s</td>
                            </tr>
                            <tr class="border-b border-gray-400">
                                <td class="pr-6">01:00</td>
                                <td class="pr-6"><img src="/icons/weather/cloudy.png" alt=""></td>
                                <td class="pr-6">-11°C</td>
                                <td>12m/s</td>
                            </tr>
                            <tr class="border-b border-gray-400">
                                <td class="pr-6">01:00</td>
                                <td class="pr-6"><img src="/icons/weather/cloudy.png" alt=""></td>
                                <td class="pr-6">-11°C</td>
                                <td>12m/s</td>
                            </tr>
                            <tr class="border-b border-gray-400">
                                <td class="pr-6">01:00</td>
                                <td class="pr-6"><img src="/icons/weather/cloudy.png" alt=""></td>
                                <td class="pr-6">-11°C</td>
                                <td>12m/s</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- Now Forward Mixed Chart -->
                <div class="bg-white px-10 py-8 rounded-3xl shadow-md mr-6 hover:-translate-y-1 hover:scale-100 transition ease-in-out duration-300 w-full">
                    <h1 class="font-semibold pb-4 text-lg">Now Forward</h1>

                    <div class="w-full h-[500px] sm:h-[300px]">
                        <canvas id="mixedChart" class=""></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const mixedChart = new Chart(document.getElementById('mixedChart'), {
            data: {
                datasets: [{
                    type: 'bar',
                    label: 'Bar Dataset',
                    data: [10, 20, 30, 40]
                }, {
                    type: 'line',
                    label: 'Line Dataset',
                    data: [50, 50, 50, 50],
                }],
                labels: ['January', 'February', 'March', 'April']
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false
                        }
                    },
                    y: {
                        grid: {
                            display: true
                        }
                    }
                }
            }
        });


        window.addEventListener("load", function() {
            const container = document.getElementById('scroll-container');

            container.addEventListener('wheel', function(e) {
                if (e.deltaY != 0) {
                    container.scrollLeft += (e.deltaY * 1);
                    e.preventDefault();
                }
            }, false);
        });
        //______________________________________________
        // clock
        window.onload = function() {     
        
        // clock
        function showTime() {
            // Create a date object containing current timestamp
            var date = new Date();
            // Separate hours, minutes and seconds
            var h = date.getHours();
            var m = date.getMinutes();
            var s = date.getSeconds();
            // Add leading zeros
            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;
            // Build a string for time and put it into h1 named clock
            var time = h + "." + m + "." + s;
            document.getElementById("clock").innerHTML = time;
            // After 1000 ms (1 s) call showTime again
            setTimeout(showTime, 1000);
        }
        showTime();
        }
    </script>
</body>